docker run -p 8888:8888/udp -p 27015/udp -p 8181:8181 -p 20560:20560/udp -e KF_ADMIN=Admin -e KF_ADMIN_PASSWORD=Admin -e KF_PORT=8888 -e KF_WEBADMIN_PORT=8181 -e KF_GAME_PASSWORD=123123 -e KF_WEBADMIN=True -e KF_DIFFICULTY=2 fpetros/kf2-server:latest
